<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="project name_Testing" >
	<listeners>
		<listener class-name="com.ExtentReportListener.ExtentReporterNG"> 
		
		</listener>
	
	
	</listeners>

	<test name="Testcase_ID" allow-return-values="true">
	
		<classes>
		
		</classes>
	</test>
	<test name="Testcase_ID1" allow-return-values="true">
		<classes>
			<class name="Com.crm.testcases.HomePageTest" />
		</classes>
	</test>
<test name="Testcase_ID2" allow-return-values="true">
		<classes>
			<class name="Com.crm.testcases.LoginPageTest" /> 
		</classes>
	</test>
<test name="Testcase_ID3" allow-return-values="true">
		<classes>
			
		</classes>
	</test>
</suite>
